*{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    background: #f1f1f1;
    font-size: 14px;
}
.nav{
    width: 100%;
    height: 79px;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;top: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);z-index: 5;
}
.nav-container{
    width: 1170px;
    height: 79px;
//background: red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.nav-row{
    margin-right: -15px;
    margin-left: -15px;
    width: 1170px;
    height: 79px;
//background: #f3a90a;
    display: block;
}
.navbar-headerlogo{
    width: 150px;
    height: 79px;
// background: #ff2de6;float: left;
    position:relative ;
}
.vertical-align-middle {
    width: 150px;
    height: 50px;
//background: #1852ff;
    float: left;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.vertical-align-middle img{
    max-width: 100%;
}
.nav-headerright{
    width: 602px;
    height: 79px;
//background: #ff4b31;
    float: right;
    margin-right: -15px;
}
.nav-headerright li{
    width: 86px;
    height: 79px;
//background: #a9ffae;
    float: left;
    font-size: 14px;
    line-height: 79px;
    text-align: center;
}
.nav-headerright li:hover {
    color: #16b0dc;
}
.nav-headerright li:nth-child(7){
    color: #16d0bc;
}
/*到行栏结束*/
.banner{
    width:1349px ;
    height: 352px;
    /*background: #ff51c2;*/
    position:relative;
    //margin-top: -79px;
margin: 0 auto;
}
.banner-top{
    width:1349px ;
    height: 352px;
    /* background: #ff51c2;*/
    position: relative;
}
.banner-top img{
    width: 100%;
    float: left;
}

/*轮播图结束*/
/*底部开始*/
.footer-back{
    width: 1349px;
    height: 658px;
    background: white;
    justify-content: center;/*水平垂直居中*/
    align-items: center;
    display: -webkit-flex;
margin: 0 auto;
}
.footer-main{
    width: 1170px;
    height: 658px;
    background: #fffafe;

}
.name-dig{
    width: 1140px;
    height: 43px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;margin-bottom: 11px;
}
.name-small{
    width: 1140px;
    height: 658px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 30px;
    color: #222;box-sizing: border-box;
    margin-bottom: 11px;
}
.small-last{
    width: 1080px;
    height: 612px;
    font-size: 16px;
    font-weight: 300;
    font-family: 微软雅黑;
    text-align: center;

    /*background: #0fffff;*/
    padding: 30px;
    color: #222;
    margin-bottom: 11px;
    box-sizing: border-box;
}
.kong{
    height: 32px;
    width: 1080px;
}

.address{
    height: 150px;
    width: 1349px;
}
.address-one{
    width: 1349px;
    height: 56px;

    margin-top: 10px;
    padding: 5px 0;
    box-sizing: border-box;justify-content: center;/*水平垂直居中*/
    align-items: center;
    display: -webkit-flex;

}
.add-two{
    width: 1349px;
    height: 75px;

    /*padding-top: 30px;*/
}

.add-tzt{
    width: 1170px;
    height: 75px;
    /*background: #a8ffa5;*/
    padding: 0 15px;margin: 0 auto;box-sizing: border-box;text-align: center;
    color: #aaaaaa;
}

.add-one{
    width: 30px;
    height: 30px;
    background: rgb(253, 251, 255);
    justify-content: center;/*水平垂直居中*/
    align-items: center;
    display: -webkit-flex;
}
.last-font{
    color: blue;
    font-size: 14px;
    box-sizing: border-box;
}
.fix-img{
    width: 30px;
    height: 30px;
    background: rgb(255, 22, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.flower-footer{
//background: #f5f5f5;
    border-top: 1px solid #f0f2f5;
    padding-bottom: 20px;
    height: auto;
    line-height: 1.8;background: #f1f1f1;text-align: center;
}
.three-footer{
    padding: 5px 0;
}
.three-footer i{
    width: auto;
}

.w{
    height: 20px;
    width: 100%;background: white;
    margin-top: 20px;
}
.add-tzt{
    width: 1170px;
    height: 75px;
    /*background: #a8ffa5;*/
    padding: 0 15px;margin: 0 auto;box-sizing: border-box;text-align: center;
    color: #aaaaaa;
}

.add-one{
    width: 30px;
    height: 30px;
    background: rgb(253, 251, 255);
    justify-content: center;/*水平垂直居中*/
    align-items: center;
    display: -webkit-flex;
}
.last-font{
    color: blue;
    font-size: 14px;
    box-sizing: border-box;
}
.fix-img {
    width: 30px;
    height: 30px;
    background: rgb(255, 22, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}




.flower-footer1{
//background: #f5f5f5;
    border-top: 1px solid #f0f2f5;
    padding-bottom: 20px;
    height: auto;/*margin-top:50px ;*/
    line-height: 1.8;background: #f1f1f1;text-align: center;
}
.three-footer1{
    padding: 5px 0;

}
.three-footer1 i{
    width: 100%;font-size: 40px;margin-left: 5px;margin-right: 5px;
}

.w1{
    height: 20px;
    width: 100%;background: white;
//margin-top: 20px;
}
.add-tzt1{
    width: 1170px;
    height: 75px;
    /*background: #a8ffa5;*/
    padding: 0 15px;margin: 0 auto;box-sizing: border-box;text-align: center;
    color: #aaaaaa;
}

.add-one1{
    width: 30px;
    height: 30px;
    background: rgb(253, 251, 255);
    justify-content: center;/*水平垂直居中*/
    align-items: center;
    display: -webkit-flex;
}
.last-font1{
    color: blue;
    font-size: 14px;
    box-sizing: border-box;
}
.fix-img1{
    width: 30px;
    height: 30px;
    background: rgb(255, 22, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@font-face {
    font-family: 'iconfont';  /* project id 1047547 */
    src: url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.eot');
    src: url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1047547_3zvwqrcnyi8.svg#iconfont') format('svg');
}
i{
    font-style: normal;
    font-family: iconfont;
}
.last-font1 span:hover{
    color: #4aff2d;
}